/* body -> home base of entire css page (global) */
body{
    background-color: #e60013; /* how do I know */
    margin: 0;
    background-image:  url('https://mario.wiki.gallery/images/f/fb/Sticker_Mushroom_-_Mario_Party_Superstars.png');
    font-family: 'Alkatra', cursive;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

nav{
    border: 2px solid black;
    /* Spacing within the box. In the inspector its green (scroll down to the bottom) */
    padding: 3;
    /* rgba red, green, blue, alpha-channel */
    background-color: rgba(255, 255, 255, 0.907);
    text-align: center;
    justify-content: space-around;
}

nav a{
    color: black;
    font-size: 2em;
}

nav span img{
    width: 30px;
    height: 30px;
}

#intro{
    margin-top: 1em;
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.907);
}

#intro #openingP{
    bottom: 30px;
}

h1,h2,h3{
    text-align: center;
}

.charaContainer{
    position: relative; 
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.907);
    width: 30em;
    height: 32em;
    border-radius: 2em;
    border: 3px solid black;
}

.charaContainer ul li img{
    width: 200px; 
    height: 200px;
}

.charaContainer ul :nth-child(2){ /* luigi/browser jr */
    position: relative;
    left: 200px;
    bottom: 200px;
}

.charaContainer ul :nth-child(3){ /* peach */
    position: relative;
    bottom: 200px;
}

.charaContainer ul :nth-child(4){ /* toad */
    position: relative;
    left: 200px;
    bottom: 410px;
}

.customerContainer{
    padding: 3em;
    position: relative;
    background-color: rgba(255, 255, 255, 0.922);
    width: 15em;
    height: 15em;
    border-radius: 2em;
    margin-top: 15em;
    left: 3em;
    border: 3px solid black;
}

.mainContainer{
    display: flex;
    justify-content: space-around;

}